* {
  font-family: Helvetica, sans-serif;
}

.top,
h2
{
  color: White;
  background-image: url("./resources/the-flatiron-building.png");
}

/*C:\codeacademy\projects\git_practice\excursion\resources\css */
