* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.top,
#sub-heading
{
  color: White;
  background-image: url("../the-flatiron-building.png");
}

a {
  color: White !important;
}

/*C:\codeacademy\projects\git_practice\excursion\resources\css */
