* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: #3e3e40;
}

.top h1{
  font-size: 70px;
}

.top,
#sub-heading
{
  color: White;
  background-image: url("../the-flatiron-building.png");
}

a {
  color: White !important;
}

#process {
  font-size: 32px
}

#copyright {
  font-size: 11px;
}

/*C:\codeacademy\projects\git_practice\excursion\resources\css */
